<div style="margin-top: -200px" class="wrapper">
  <section class="section-profile-cover section-shaped my-0">
    <img
      class="bg-image"
      src="assets/img/bg_portfolio.jpg"
      style="width: 100%"
    />
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:;">
                  <img class="rounded-circle" [src]="githubStats.avatar_url" />
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div
                class="card-profile-actions py-4 mt-lg-0"
                style="text-align: center"
              >
                <button
                  (click)="
                    goToLink(
                      'https://www.linkedin.com/in/salman-qureshi-a2b117201/'
                    )
                  "
                  class="btn btn-sm btn-icon btn-3 btn-primary"
                  type="button"
                >
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                  <span class="btn-inner--text">Connect</span>
                </button>
                <button
                  (click)="copyUrl()"
                  class="btn btn-sm btn-icon btn-3 btn-primary"
                  type="button"
                >
                  <i class="ni ni-send"></i>
                  <span class="btn-inner--text">Share</span>
                </button>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading"> {{ githubStats.followers }} </span>
                  <span class="description"> Followers </span>
                </div>
                <div>
                  <span class="heading"> {{ githubStats.public_repos }} </span>
                  <span class="description"> Repos </span>
                </div>
                <div>
                  <span class="heading"> 987 </span>
                  <span class="description"> Commits </span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>
              Muhammad Salman Qureshi<span class="font-weight-light">
                , 24
              </span>
            </h3>
            <div class="h6 font-weight-300">
              <i class="ni location_pin mr-2"> </i> Islamabad, Pakistan
            </div>
            <div class="h6 mt-4">
              <i class="ni business_briefcase-24 mr-2"> </i> Associate
              Consultant - SystemsLTD
            </div>
            <div hidden>
              <i class="ni education_hat mr-2"> </i> National University of
              Computers & Emerging Sciences (FAST) - Class of '21
            </div>
          </div>

          <hr class="style6" />
          <!-- Header Info -->
          <div class="text-center">
            <div class="row">
              <div class="col">
                <button
                  (click)="goToLink('https://medium.com/@salmanqureshi97')"
                  type="button"
                  class="btn btn-primary btn-lg btn-block"
                >
                  <i class="fab fa-medium-m" aria-hidden="true"></i>
                  Medium Articles
                </button>
              </div>
              <div class="col">
                <button
                  (click)="
                    goToLink(
                      'https://github.com/SalmanQureshi97?tab=repositories'
                    )
                  "
                  type="button"
                  class="btn btn-primary btn-lg btn-block"
                >
                  <i class="fab fa-github-square" aria-hidden="true"></i>
                  Github Repos
                </button>
              </div>
            </div>
            <div class="h6 font-weight-300">
              <i class="ni location_pin mr-2"> </i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tools & Technology Section -->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(1, $event)"
            (mouseout)="cardClicked(1, $event)"
            (click)="cardClicked(1, $event)"
            [@cardFlip]="flip1"
          >
            <div class="face back">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/angular1.png"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">Angular</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(2, $event)"
            (mouseout)="cardClicked(2, $event)"
            (click)="cardClicked(2, $event)"
            [@cardFlip]="flip2"
          >
            <div class="face back" style="height: 15rem">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/ionic1.png"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">Ionic</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(3, $event)"
            (mouseout)="cardClicked(3, $event)"
            (click)="cardClicked(3, $event)"
            [@cardFlip]="flip3"
          >
            <div class="face back" style="color: white">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/react1.jpg"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">React Native</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(4, $event)"
            (mouseout)="cardClicked(4, $event)"
            (click)="cardClicked(4, $event)"
            [@cardFlip]="flip4"
          >
            <div class="face back">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/aws1.png"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">Amazon Web Services</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(5, $event)"
            (mouseout)="cardClicked(5, $event)"
            (click)="cardClicked(5, $event)"
            [@cardFlip]="flip5"
          >
            <div class="face back" style="height: 15rem">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/nodejs1.png"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">NodeJs</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(6, $event)"
            (mouseout)="cardClicked(6, $event)"
            (click)="cardClicked(6, $event)"
            [@cardFlip]="flip6"
          >
            <div class="face back" style="color: white">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/mongodb1.jpg"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">MongoDB</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(7, $event)"
            (mouseout)="cardClicked(7, $event)"
            [@cardFlip]="flip7"
            (click)="cardClicked(7, $event)"
          >
            <div class="face back">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/django1.png"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">Django Framework</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div
            class="cardFlip"
            style="height: 15rem"
            (mouseover)="cardClicked(8, $event)"
            (mouseout)="cardClicked(8, $event)"
            (click)="cardClicked(8, $event)"
            [@cardFlip]="flip8"
          >
            <div class="face back" style="height: 15rem">
              <div class="card" style="width: 100%; text-align: center">
                <img
                  class="card-img-top"
                  src="../assets/img/tools/docker1.png"
                  alt="Card image cap"
                />
                <div class="row">
                  <h3 class="title">Docker</h3>
                </div>
                <a style="margin-top: -15px" href="javascript:;">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </a>
              </div>
            </div>
            <div class="face front" style="height: 15rem; overflow: auto">
              <div class="card" style="height: 15rem; width: 100%">
                <div class="card-body">
                  <p
                    style="color: black; height: 15rem; font-size: medium"
                    class="card-text"
                  >
                    Angular is my go to tool for frontend development. I worked
                    on projects related to ERP, E-commerce and Personal/Business
                    websites. The modularization and resuability factor of
                    Angular is one the motivating factors that comes with it.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
